html {
    font-size: 12pt;
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

.radius-box {
    background: steelblue;
    width: 200px;
    height: 200px;
    color: aliceblue;
    display: grid;
    place-items: center;
    border-radius: 15%;
    margin: 20px;
}
.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.justify {
    text-align: justify;
    text-transform: capitalize;
}
.link {
    text-decoration: none;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
p {
    font-size: 1rem;
}

.center-box {
    width: 50%;
    height: 200px;
    background: steelblue;
    margin: 0 auto;
    display: grid;
    place-items: center;
}

.center-text {
    background-color: aqua;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    text-align: center;
    align-content: center;
}
